/* Root Variables */
:root {
    --header-height: 3rem;
    --first-color: #710edb;
    --first-color-alt: #8d5de6;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Global Styles */
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;

}

html {
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    width: 95%;
    margin-left: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    color: var(--text-color-light);
}

header .logo img {
    width: 160px;
}

header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: var(--text-color);
    text-decoration: none;
}

header ul li a:hover {
    color: var(--first-color-alt);
}

/* Sidebar Navigation Styles */
aside {
    margin-top: 80px;
    background-color: var(--body-color);
    padding: 20px;
    width: 200px;
    height: calc(90vh - 80px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: var(--text-color);
    text-decoration: none;
}

aside ul li a:hover {
    color: var(--first-color-alt);
}

/* Container Styles */
.container {
    margin-top: 50px;
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
    text-align: center;
    position: fixed;
}

/* Box Styles */
.box1,
.box,
.box2 {
    display: inline-block;
    height: 200px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}

.box1 {
    width: 80%;
    text-align: left;
    font-size: 22px;
    height: 100px;

}

.box1 a {

    text-decoration: none;
    color: var(--text-color);
    margin-left: 15px;
}

.box {
    width: 80%;
    text-align: left;
    font-size: 22px;
    height: 150px;
}

.box a {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 15px;


}
/* Add CSS for student details */
#student-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#student-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

#student-details p {
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
}

#student-details strong {
    font-weight: bold;
    color: #333;
}





/* Avatar Styles */
.avatar,
.avatar1 {
    text-align: center;
}

.avatar img,
.avatar1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(239, 239, 239);
}

.fa-solid,
.fa-brands {
    padding: 10px;
    color: var(--first-color);
    font-size: 25px;

}
 /* Profile Dropdown */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Profile Editing */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.edit-input {
    margin-bottom: 10px;
}

.edit-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Add CSS for search input fields and dropdown as needed */
.class-container, .grade-container {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    
}

.class-container select, .grade-container select {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Adjust width as needed */
}

.class-container select:focus, .grade-container select:focus {
    outline: none;
}

.container {
    margin-top: 20px;
}



/* Style for the header */
